{% extends "base.html" %}


{% block title %}{{ title }}{% endblock %}
{% block body_class %}{{ block.super }} consumer_edit{% endblock %}


{% block content_title %}{{ title }}{% endblock %}


{% block content %}
<form action="" method="post" class="profile_edit">{% csrf_token %}
	<table>
        {{ form }}
        <tr>
            <th></th><td><input type="submit" value="{{ form_button }}" /></td>
    </table>
    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}">
</form>
{% endblock %}