html {
	font: 0.8em / 1.6 verdana, arial, sans-serif;
	background: #ddd;
}
body {
	margin: 20px auto;
	padding: 0;
	border: 2px solid black;
	width: 600px;
	color: #333;
	background: white;
}
header {
	margin: 0;
	padding: 10px 20px;
	border-bottom: 1px solid #aaa;
	text-align: right;
	background: #eee;
}
h1 {
	float: left;
	margin: 0;
	padding: 0;
	font-size: 2em;
	font-weight: normal;
}
nav {
	float: left;
	display: none;
	margin-right: 20px;
	vertical-align: top;
	height: 340px;
	background: #eee;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
li a {
	display: block;
	padding: 10px 10px 10px 40px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	color: #333;
	text-align: right;
	text-decoration: none;
}
li a.active {
	border-right: none;
	background: #f9f9f9;
}
section {
	display: none;
	margin: 0;
	padding: 20px;
	height: 300px;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-weight: normal;
}
form {
	display: table;
}
form p {
	display: table-row;
}
label, form p span {
	display: table-cell;
	padding: 10px 20px 10px 0;
}
button, input {
	display: table-cell;
	padding: 5px;
}
.success {
	display: none;
	color: #70BA00;
}
.error {
	color: #961200;
}
#anonymous, #signin {
	display: block;
}
#signout {
	visibility: hidden;
}
